.gui {
  width: 600px;
  height: 600px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: calc(50% - var(--canvas-width) / 2);
  margin: 0 auto;

  opacity: 0.5;
  color: white;

  &_wrapper {
    position: relative;
    height: 100%;
  }
}
